[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
scikit-learn = "*"
pandas = "*"
uvicorn = "*"
fastapi = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
